[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/samsbp/whiteplain.git
[submodule "themes/maverick"]
	path = themes/maverick
	url = https://github.com/canhtran/maverick.git
